.search-bar {
  display: flex;
  gap: 10px;
  margin: 20px 0 30px;
}

.search-bar input {
  flex: 1;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #1f2937;
  color: white;
  font-size: 16px;
}

.search-bar input::placeholder {
  color: #9ca3af;
}

.search-bar button {
  padding: 14px 22px;
  border: none;
  border-radius: 10px;
  background: #7c3aed;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.search-bar button:hover {
  background: #6d28d9;
}
